<div class="container text-center">
  <div class="row pt-2">
    <div class="col">
      <app-overview-header [header]="'Service Availability'" [icon]="'fas fa-calendar-alt fa-sm'"></app-overview-header>
    </div>
  </div>
  <app-availability-details></app-availability-details>
  <div class="row pt-2">
    <div class="col-12">
      <p>
        My day job I work 9-5 Monday - Friday. The times listed above is service availability.
        I can be called any day of the week at any time, I am usually around my phone.
        If I do not answer simply leave me a voice mail with your name, phone number, and a quick
        summary of your yard and the service you need. If you email please make the subject
        'Lawn Care Service Request', and body of name, good phone number, and a quick
        summary of your needs.
        I will service lawns in the evening, typically starting at 6pm, Monday - Friday. Saturday
        I will service anytime from 8AM - 8PM. Sunday 12PM-8PM.
      </p>
    </div>
  </div>
</div>