<div class="container">
  <p>
    I am availble most days of the week. My day job I work 9-5 Monday - Friday.
    I can be called any day of the week at any time, I am usually around my phone.
    If I do not answer simply leave me a voice mail with your name, phone number, and a quick
    sumaary of your yard and the service you need.
    I will service lawns in the evening, typically starting at 6pm, Monday - Friday. Saturday
    I will service anytime from 8AM - 7PM. Sunday 12PM-7PM.
  </p>
</div>
