<div class="container text-center">
  <app-overview-header [header]="'Availability'" [icon]="'fas fa-calendar-alt fa-sm'"></app-overview-header>
  <p>
    I am availble most days of the week. My day job I work 9-5 Monday - Friday.
    I can be called any day of the week at any time, I am usually around my phone.
    If I do not answer simply leave me a voice mail with your name, phone number, and a quick
    summary of your yard and the service you need.
    I will service lawns in the evening, typically starting at 6pm, Monday - Friday. Saturday
    I will service anytime from 8AM - 8PM. Sunday 12PM-8PM.
  </p>
</div>
