<div class="container">
  <div class="row">
    <div class="col-sm-6">
      Phone: <br> (512)-501-0390
    </div>
    <div class="col-sm-6">
      Email:
      <div class="d-lg-none d-xl-none">
        <address>
          <a href="mailto:{{email}}">{{email}}</a><br>
        </address>
      </div>
      <div class="d-none d-lg-block">
        {{email}}
      </div>
    </div>
  </div>
  <div class="row pt-2">
    <div class="col-12">
      Feel free to reach out to me anytime with questions.
      I will respond to emails and missed calls within a few hours of reciving them.
    </div>
  </div>
</div>