<div class="row">
  <div class="col-12 small">
    <img src="assets/us.jpeg" alt="Me and my love" class="img-thumbnail shadow float-right mh-0">
    My name is Colton Morales. I am a Software Developer for my 9 to 5, and this lawn mowing buiness
    is my side job, which I thoroughly enojoy! I enjoy the outdoors in general,
    I love to fish, mostly salt water when I can get down to Corpus, but I enjoy fresh water fishing too!
    To the right is a picture of me and my better half!
  </div>
</div>