<div class="container">
  <app-availability-details></app-availability-details>
  <div class="row pt-2">
    <div class="col-12">
      <small>
        Feel free to reach out to me anytime with questions, or to schedule an appointment!
        I will respond to emails and missed calls within a few hours of reciving them. If you
        send an email about scheduling an appointment, I will still require a phone call before
        servicing your yard. I hope to be hearing from you soon!
      </small>
    </div>
  </div>
</div>