<div class="container">
  <div class="card-group rounded">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Monday - Friday <br> 5:30 PM - 8:00 PM</h5>
        <small class="card-text">
          On week days I can start servicing yards at 5:30 PM at the earliest. These days I will only be able to service
          a yard or two before dark, so weekday availability may be limited.
        </small>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Saturday & Sunday <br> 8:00 AM - 8:00 PM</h5>
        <small class="card-text">
          On weekends I am available all day. I will start as early as you allow me to arrive at your residence.
        </small>
      </div>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12">
      Feel free to <a [routerLink]="'/contact-me'" class="hyperlink">contact me</a> anytime with questions,
      or to schedule an appointment! I will respond to emails and missed calls within
      a few hours of receiving them. I hope to be hearing from you soon!
    </div>
  </div>
</div>