<div class="container">
  <div class="card-group rounded">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Monday - Friday <br> 5:30 PM - 8:00 PM</h5>
        <small class="card-text">
          I only offer services in the evenings on week days.
        </small>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Saturday & Sunday <br> 8:00 AM - 8:00 PM</h5>
        <small class="card-text">
          On weekends I am available all day.
        </small>
      </div>
    </div>
  </div>
</div>