.flex-wrapper {
    display: flex;
    min-height: 100vh; /* 100% viewport height */
    flex-direction: column; /* Push footer down */
}

.flex-content {
    flex: 1; /* Flex one column */
} 

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}