<div class="container text-center">
  <div class="row pt-2">
    <div class="col">
      <app-overview-header [header]="'Pricing'" [icon]="'fas fa-dollar-sign fa-sm'"></app-overview-header>
    </div>
  </div>
  <div class="row pt-2">
    <div class="col">
      <app-pricing-details></app-pricing-details>
    </div>
  </div>
  <div class="row pt-2 pb-2">
    <div class="col-12">
      <strong>I accpet cash only!</strong> Payment is due on completion of service. No other forms of
      payment will be accepted. You know the price you will pay before I even arrive, no quotes, only set prices.
      If you would like to call or email me to discuss service futher, or schedule an appointment,
      <a [routerLink]="'/contact-me'" class="hyperlink">contact me</a> anytime with your questions!
    </div>
  </div>
  <div class="row-pt-2">
    <div class="col">
      <app-disclaimer></app-disclaimer>
    </div>
  </div>
</div>