<div class="container text-center pb-3">
  <div class="row pt-2">
    <div class="col">
      <app-overview-header [header]="'Pricing'" [icon]="'fas fa-dollar-sign fa-sm'"></app-overview-header>
    </div>
  </div>
  <div class="row pt-2">
    <div class="col">
      <app-pricing-details></app-pricing-details>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12">
      <i class="fas fa-money-bill-alt fa-sm"></i><strong>&nbsp;Payment</strong>
      is due before I start my service. Cash or PayPal only, no other forms of payment will be accepted. 
      No quotes, only set prices to leave the guessing out. <a [routerLink]="'/contact-me'" class="hyperlink">Contact me</a>
      anytime if you would like to call or email to discuss service or schedule an appointment. If you are not sure 
      the size of your yard I will inspect upon arrival. We will agree on your price before I start mowing, which will
      only be one of the two prices stated above.
    </div>
  </div>
  <div class="row pt-2">
    <div class="col">
      <app-disclaimer></app-disclaimer>
    </div>
  </div>
</div>