<div class="container-fluid"></div>
<div class="row ml-0 mr-0">
  <div class="col pl-0 pr-0 text-center small footer">
      &copy;Copyright {{ mySite }} {{ year | date:'yyyy' }}. All Rights Reserved.
  </div>
</div>

<!-- <footer class="footer small">
    <div class="container mt-2">
      <div class="row">
        <div class="col">
          <p>
              &copy;Copyright {{ copyrightCompany }}
              {{ copyrightDate | date:'yyyy' }}.
              All Rights Reserved.&copy;Copyright {{ coptrightCompany }}
            {{ copyrightDate | date:'yyyy' }}. 
            All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </footer> -->
