<div class="row">
  <div class="col">
    <i class="fas fa-exclamation-circle fa-sm"></i>
    <strong>&nbsp;Disclaimer</strong> I reserve the right to refuse service to anyone, even upon 
    arrival of your home. If I deem the yard to be unsafe for myself, or if there are obstacles 
    preventing me from providing excellent service I will refuse. These include debris in the yard, 
    dangerous terrain, uncaged animals etc. If you are not sure the size of your yard I will inspect upon 
    arrival. We will agree on your price before I start mowing, which will only be one of the two prices stated above.
  </div>
</div>