<div class="row">
  <div class="col">
    <i class="fas fa-exclamation-circle fa-sm"></i>
    <strong>&nbsp;Disclaimer</strong> I reserve the right to refuse service to anyone, even upon 
    arrival of your home. If I deem the yard to be unsafe for myself, or if there are obstacles 
    preventing me from providing excellent service, I will refuse. This includes debris in the yard, 
    dangerous terrain, uncaged animals etc. I am <u>not</u> responsible for any personal or property damages 
    that could occur during my service. By allowing me to service your lawn,
    you are agreeing to these terms.
  </div>
</div>