<div class="container">
  <div class="card-group rounded">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <span class="price-font">{{ halfAcrePrice |  currency:'USD' }}</span>
          <small class="text-muted">&nbsp;/per service</small>
        </div>
        <small class="card-text">
          This is my minimum price. The average yard is about 1/4 to 1/2 acre, which typically takes
          me about 2 hours.
        </small>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <span class="price-font">{{ oneAcrePrice |  currency:'USD' }}</span>
          <small class="text-muted">&nbsp;/per service</small>
        </div>
        <small class="card-text">
          If your yard is over 3/4 quater acres or it takes me about 3 hours then this is your price.
        </small>
      </div>
    </div>
  </div>
</div>