<div class="container">
  <div class="card-group rounded">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <span class="price-font">{{ halfAcrePrice | currency:'USD' }}</span>
          <small class="text-muted">&nbsp;/per service</small><br>
          <small><strong>Cash or PayPal only</strong></small>
        </div>
        <small class="card-text">
          My minimum price. This is for the average residential lawn, any size, up to 1/2 an acre.
          If your lawn has extensive overgrowth you will be charged an extra {{ extensiveOvergrowthFee | currency:'USD' }}.
        </small>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <span class="price-font">{{ oneAcrePrice | currency:'USD' }}</span>
          <small class="text-muted">&nbsp;/per service</small><br>
          <small><strong>Cash or PayPal only</strong></small>
        </div>
        <small class="card-text">
          If your lawn is about 3/4 quarters of an acre or bigger. I do not service lawns over an acre.
          If your lawn has extensive overgrowth you will be charged an extra {{ extensiveOvergrowthFee | currency:'USD' }}.
        </small>
      </div>
    </div>
  </div>
</div>