.col-lg-6 {
    height: 375px
}

.carousel-sizing {
  max-height: 150px;
  max-width: 60%;
}

.light-cyan {
  background-color: lightcyan;
}

.light-gray {
  background-color: #e0eeee;
}

.light-white {
  background-color: #ECEDED;
}

.hide-overflow {
  overflow: hidden;
}