<div class="row">
  <!-- Phone -->
  <div class="col-lg-6 pt-2">
      Phone:
    <div class="d-lg-none d-xl-none">
      <address>
        <a href="tel:1-512-501-0390" class="hyperlink">(512)-501-0390</a><br>
      </address>
    </div>
    <div class="d-none d-lg-block">
      (512)-501-0390
    </div>
  </div>
  <!-- /Phone -->
  <!-- Email -->
  <div class="col-lg-6 pt-2">
    Email:
    <div class="d-lg-none d-xl-none">
      <address>
        <a href="mailto:{{email}}" class="hyperlink">{{email}}</a><br>
      </address>
    </div>
    <div class="d-none d-lg-block">
      {{email}}
    </div>
  </div>
  <!-- /Email -->
</div>
<div class="row pt-2">
  <div class="col-12">
    Feel free to reach out to me anytime with questions, or to schedule an appointment!
    I will respond to emails and missed calls within a few hours of reciving them. If you
    send an email about scheduling an appointment, I will still require a phone call before
    servicing your yard. I hope to be hearing from you soon!
  </div>
</div>